/* bring in normalize.css styles */
@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

body {
  background-color: #f5bbd3;
  font-family: 'Raleway', sans-serif;
}

form input {
  font-weight: 400;
  font-size: 1rem;
  width: 210px;
}

button {
  width: 232px;
  height: 54px;
  background-color: #db6596;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin: 15px 0 0 5px;
}

button:hover {
  background-color: #dd7fa6;
  color: #fff;
  transform: translateY(-3px);
}

.container {
  display: grid;
  grid-template-columns: 1fr 320px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
